* {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;

  scroll-margin-top: 60px;

  @include tablet {
    scroll-margin-top: 100px;
  }

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.21;
    margin-bottom: 32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 14px;

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #000;
      display: inline-block;
    }

    @include tablet {
      font-size: 44px;
      line-height: 1.23;
      margin-bottom: 60px;
    }

    @include desktop {
      font-size: 44px;
      line-height: 1.23;
      margin-bottom: 91px;
    }
  }
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 16px;
  overflow-x: hidden;

  @include tablet {
    max-width: 768px;
    padding: 0 24px;
  }

  @include desktop {
    max-width: 1280px;
    padding: 0 24px;
  }
}
