$bgColor: #666464;
$footerBgColor: #000;
$primaryFontColor: #000;
$secondaryFontColor: #fff;
$formFontColor: #5c5c5c;
$btnColor: #e86f54;
$btnHoverColor: #e25b41;
$btnFocusColor: #fa6f54;
$btnInactiveColor: #E86F5466;
$footerIconColor: #fff;
$iconColor: #0e0e0e;
