/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu

@import './utils/mixins';

@import './utils/vars';

@import './base/common';

@import './partials/about';
@import './partials/banner';
@import './partials/blog';
@import './partials/button';
@import './partials/contact-form';
@import './partials/delivery';
@import './partials/footer';
@import './partials/header';
@import './partials/newsletter';

