<section class="about section" id="about-us">
        <div class="container">
          <h2 class="section__title">ABOUT<div class="section__line"></div></h2>
          <div class="about__wrapper">
            <p class="about__description">We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we create is unique as you are.</p><picture>
             <img src="../src/images/about-mobile.jpg" alt="flowers" y="288" x="178">
            </picture>
          </div>
        </div>
      </section>