<section class="about section" id="about-us">
  <div class="container">
    <h2 class="section__title">ABOUT</h2>
    <div class="about__wrapper">
      <p class="about__description">
        We are a minimalistic flower studio. We love people and flowers. Therefore, every day we
        give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we
        create is unique as you are.
      </p>

      <img
        src="images/about-mobile.jpg"
        srcset="
          images/about-mobile.jpg     136w,
          images/about-mobile@2x.jpg  272w,
          images/about-tablet.jpg     344w,
          images/about-tablet@2x.jpg  688w,
          images/about-desktop.jpg    390w,
          images/about-desktop@2x.jpg 780w
        "
        alt="flowers"
        sizes="(min-width: 1280px) 1280px, (min-width: 768px) 1279px, 767px"
        class="about__picture"
      />

      <!-- <img
        class="delivery__photo"
        src="images/delivery-bouquet-mobile.jpg"
        srcset="
          images/delivery-bouquet-mobile.jpg      320w,
          images/delivery-bouquet-mobile@2x.jpg   640w,
          images/delivery-bouquet-tablet.jpg      768w,
          images/delivery-bouquet-tablet@2x.jpg  1536w,
          images/delivery-bouquet-desktop.jpg    1280w,
          images/delivery-bouquet-desktop@2x.jpg 2560w
        "
        alt="flowers"
        sizes="(min-width: 1280px) 1280px, (min-width: 768px) 1279px, 767px"
      /> -->
    </div>
  </div>
</section>
