<section class="about section" id="about-us">
  <div class="container">
    <h2 class="section__title">ABOUT</h2>
    <div class="about__wrapper">
      <p class="about__description">
        We are a minimalistic flower studio. We love people and flowers. Therefore, every day we
        give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we
        create is unique as you are.
      </p>

      <img
        src="images/about-mobile.jpg"
        srcset="
          images/about-mobile.jpg     136w,
          images/about-mobile@2x.jpg  272w,
          images/about-tablet.jpg     344w,
          images/about-tablet@2x.jpg  688w,
          images/about-desktop.jpg    390w,
          images/about-desktop@2x.jpg 780w
        "
        alt="flowers"
        sizes="(min-width: 1280px) 1280px, (min-width: 768px) 1279px, 767px"
        class="about__picture"
      />
    </div>
  </div>
</section>
