<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div class="banner">
        <p class="banner__text">
          flower<br />
          studio
        </p>
        <div class="banner__flover-conteiner">
          <img
            alt="flover"
            class="banner__flover"
            src="images/hero-flower-mobile.jpg"
            srcset="
              images/hero-flower-mobile.jpg      145w,
              images/hero-flower-mobile@2x.jpg   290w,
              images/hero-flower-tab-desk.jpg    390w,
              images/hero-flower-tab-desk@2x.jpg 780w
            "
            sizes=""
          />
          <h1 class="banner__title">ANEMONE</h1>
        </div>
        <div class="banner__button-conteiner">
          <button data-modal-open type="button" class="banner__button">
            <svg class="banner__icon"><use href="images/icons.svg#icon-button_main"></use></svg>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
