<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div class="banner">
        <p class="banner__text">
          flower<br />
          studio
        </p>
        <div class="banner__flover-conteiner">
          <img alt="flover" class="banner__flover" src="" srcset="" sizes="" />
          <h1 class="banner__title">ANEMON<span>E</span></h1>
        </div>
        <div class="banner__button-conteiner">
          <button class="banner__button">
            <svg class="button__icon"><use href=""></use></svg>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
