<!-- Delivery section -->

<section class="delivery section" id="delivery">
  <div class="container">
    <h2 class="section__title">DELIVERY</h2>

    <ol class="delivery__list">
      <li class="delivery__list-item">Choose your bouquet and make an order on website</li>
      <li class="delivery__list-item">
        Wait for the call to clarify the details of the order. You can pay online or to the courier
      </li>
      <li class="delivery__list-item">
        Wait for the delivery at the selected time or pick up the order from the store
      </li>
      <li class="delivery__list-item">Make someone happy or enjoy yourself</li>
    </ol>

    <img
      class="delivery__photo"
      src="images/delivery-bouquet-mobile.jpg"
      alt="flowers"
      srcset="
        images/store-bouquet1-mobile.jpg      320w,
        images/store-bouquet1-mobile@2x.jpg   640w,
        images/store-bouquet1-tablet.jpg      768w,
        images/store-bouquet1-tablet@2x.jpg  1536w,
        images/store-bouquet1-desktop.jpg    1280w,
        images/store-bouquet1-desktop@2x.jpg 2560w
      "
      width="320"
      height="135"
    />
  </div>
</section>
