<!-- Delivery section -->

<section class="delivery section" id="delivery">
  <div class="container">
    <h2 class="delivery__title">delivery</h2>

    <ul class="delivery__list">
      <li class="delivery__list-item">
        <div class="delivery__number">1</div>
        <p class="delivery__text">Choose your bouquet and make an order on website</p>
      </li>
      <li class="delivery__list-item">
        <div class="delivery__number">2</div>
        <p class="delivery__text">
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </p>
      </li>

      <li class="delivery__list-item">
        <div class="delivery__number">3</div>
        <p class="delivery__text">
          Wait for the delivery at the selected time or pick up the order from the store
        </p>
      </li>

      <li class="delivery__list-item">
        <div class="delivery__number">4</div>
        <p class="delivery__text">Make someone happy or enjoy yourself</p>
      </li>
    </ul>

    <img
      class="delivery__photo"
      src="images/delivery-bouquet-mobile.jpg"
      srcset="
        images/delivery-bouquet-mobile.jpg      320w,
        images/delivery-bouquet-mobile@2x.jpg   640w,
        images/delivery-bouquet-tablet.jpg      768w,
        images/delivery-bouquet-tablet@2x.jpg  1536w,
        images/delivery-bouquet-desktop.jpg    1280w,
        images/delivery-bouquet-desktop@2x.jpg 2560w
      "
      alt="flowers"
      sizes="(min-width: 1280px) 1280px, (min-width: 768px) 1279px, 767px"
    />
  </div>
</section>
