<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__logo">
        <a href="./index.html"
          ><svg>
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <div class="footer__container">
        <h3>Navigation</h3>
        <ul>
          <li><a href="#banner">Anemone</a></li>
          <li><a href="#about">About us</a></li>
          <li><a href="#store">Store</a></li>
          <li><a href="#delivery">Delivery</a></li>
        </ul>
      </div>
      <div class="footer__container">
        <h3>Opening times</h3>
        <span>Every day</span>
        <span>9:00 - 22:00</span>
      </div>
      <div class="footer__container">
        <h3>Contacts</h3>
        <div class="footer__container--contacts">
          <a href="tel:+380631234567">+38 063 123 45 67</a>
          <a href=" " class="footer__mail"><span>anemonestudio</span><span>@example.com</span></a>
          <address>Reitarska Street, 11 Kyiv, Ukraine</address>
        </div>
      </div>
      <div class="footer__container">
        <ul class="footer__socials">
          <li>
            <a href=" "
              ><svg class="footer__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href=""
              ><svg class="footer__icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
