<head>
  <link rel="stylesheet" href="../sass/main.css" />
</head>
<body>
  <footer>
    <div class="footer">
      <div class="footer__container">
        <h3>Navigation</h3>
        <ul>
          <li>Anemone</li>
          <li>About us</li>
          <li>Store</li>
          <li>Delivery</li>
        </ul>
      </div>

      <div class="footer__container">
        <h3>Opening times</h3>
        <span>Every day</span>
        <span>9:00 - 22:00</span>
      </div>
      <div class="footer__container">
        <h3>Contacts</h3>
        <span>+38 063 123 45 67</span>
        <span>anemonestudio@example.com</span>
        <address>Reitarska Street, 11 Kyiv, Ukraine</address>
      </div>
      <div class="footer__container footer__container--icons">
        <svg class="footer__icon">
          <use href="../images/icons.svg#icon-facebook"></use>
        </svg>
        <svg class="footer__icon">
          <use href="../images/icons.svg#icon-instagram"></use>
        </svg>
      </div>
    </div>
  </footer>
</body>
