<div class="backdrop is-hidden" data-modal-subscribe>
  <div class="modal1">
    <button type="button" class="modal1__close" data-modal-subscribe-close>
      <svg class="modal1__svg" width="16" height="16">
        <use href="/src/images/icons.svg#btn-close-icon"></use>
      </svg>
    </button>
    <div class="modal1__layout">
      <img
      class="modal1__image"
      src="images/popup-bouquet-mobile.jpg"
      srcset="
            images/popup-bouquet-mobile@2x.jpg 272w,
            images/popup-bouquet-tablet.jpg 588w,
            images/popup-bouquet-tablet@2x.jpg 588w,
            images/popup-bouquet-desktop.jpg 860w,
            images/popup-bouquet-desktop@2x.jpg 860w
            "
            alt="flowers"
            sizes="(max-width: 767px) 272px, (max-width: 1279px) 588px, (min-width: 1280px) 428px"
          />
          <div class="modal1__textarea">
            <p class="modal1__header">Follow to our newsletter</p>
            <p class="modal1__description">
              Be the first to get exclusive offers and the latest news on our product directly in your
              box.
            </p>
            <div class="modal1__wrapper">
              <form class="modal1__form">
                <label for="email" class="modal1__form-label">Email</label>
                  <input
                    type="email"
                    class="modal1__form-input"
                    name="email"
                    id="email"
                    placeholder="tanya.hill@example.com"
                  />
                </label>
                <button type="submit" class="modal1__form-submit" data-modal-subscribe-close>Subscribe</button>
              </form>
            </div>
          </div>
    </div>
  </div>
  </div>