

    <!-- <button data-modal-open1="" class="x">Subscribe</button> -->

      <div class="backdrop">
    <div class="modal1" data-modal-subscribe>
      <button type="button" class="modal__close" data-modal-close>
        <svg class="modal__svg" width="16" height="16">
          <use href="/src/images/icons.svg#btn-close-icon"></use>
        </svg>
      </button>
      <picture class="modal1__image">
        <img src="/images/popup-bouquet-mobile.jpg" alt="flowers" class="newsletter__img"></picture>
<div class="textarea">
      <p class="modal__header">Follow to our newsletter</p>
      <p class="modal__description">
        Be the first to get exclusive offers and the latest news on our product directly in your box.
      </p>

  <form class="modal-form">
        <label class="modal-form__label" for="mail">
        <p class="modal-form__name">Email</p>
          <input
            type="email"
            class="modal-form__input"
            name="email"
            id="mail"
            placeholder="tanya.hill@example.com"
          >
        </label>

        <button type="submit" class="modal-form__submit" data-modal-close>Send</button>
      </form>
    </div>
    </div>
  </div>
