// Przykład użycia guzika żeby działał ;)
//     <div class="store">
//      <button type="button" class="button store__button">testowy guzik</button>
//     </div>
// Używamy domieszek z działu "metodologia BEM"

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $btnColor;
  border: none;
  border-radius: 38px;

  color: white;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;

  width: 208px;
  height: 44px;

  transition: background-color 0.5s ease;

  &:hover {
    background-color: $btnHoverColor;
  }

  &:focus {
    background-color: $btnFocusColor;
  }
}

// .submit-button {
//   @include desktop {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     background-color: $btnColor;
//     border: none;
//     border-radius: 8px;

//     height: 50px;
//     width: 416px;

//     color: $secondaryFontColor;
//     font-weight: 500;
//     line-height: 22px;

//     transition: background-color 0.5s ease;

//     &:hover {
//       background-color: $btnHoverColor;
//     }

//     &:focus {
//       background-color: $btnFocusColor;
//     }
//   }

//   @include tablet {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     background-color: $btnColor;
//     border: none;
//     border-radius: 8px;

//     height: 37px;
//     width: 240px;

//     color: $secondaryFontColor;
//     font-size: 14px;
//     font-weight: 600;
//     line-height: 17px;

//     transition: background-color 0.5s ease;

//     &:hover {
//       background-color: $btnHoverColor;
//     }

//     &:focus {
//       background-color: $btnFocusColor;
//     }
//   }
// }
