// Przykład użycia guzika żeby działał ;)
//     <div class="store">
//      <button type="button" class="button store__button">testowy guzik</button>
//     </div>
// Używamy domieszek z działu "metodologia BEM"

.button {
  @include desktop {

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $btnColor;
      border: none;
      border-radius: 38px;

      color: $secondaryFontColor;
      font-size: 28px;
      font-weight: 500;
      line-height: 24px;

      transition: background-color 0.5s ease;

      &:hover {
        background-color: $btnHoverColor;
      }

      &:focus {
        background-color: $btnFocusColor;
      }
    }

    .store {
      &__button {
        height: 64px;
        width: 280px;
      }
    }

    .blog {
      &__button {
        height: 64px;
        width: 280px;
      }
    }

    .submit-button {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $btnColor;
      border: none;
      border-radius: 8px;

      height: 50px;
      width: 416px;

      color: $secondaryFontColor;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;

      transition: background-color 0.5s ease;

      &:hover {
        background-color: $btnHoverColor;
      }

      &:focus {
        background-color: $btnFocusColor;
      }
    }
  }


  .button {
    @include tablet {

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $btnColor;
    border: none;
    border-radius: 38px;

    color: white;
    font-weight: 500;
    line-height: 24px;

    transition: background-color 0.5s ease;

    &:hover {
      background-color: $btnHoverColor;
    }

    &:focus {
      background-color: $btnFocusColor;
    }
  }

  .store {
    &__button {
      height: 44px;
      width: 208px;

      font-size: 20px;
    }
  }

  .blog {
    &__button {
      height: 40px;
      width: 170px;

      font-size: 18px;
    }
  }

  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $btnColor;
    border: none;
    border-radius: 8px;

    height: 37px;
    width: 240px;

    color: $secondaryFontColor;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;

    transition: background-color 0.5s ease;

    &:hover {
      background-color: $btnHoverColor;
    }

    &:focus {
      background-color: $btnFocusColor;
    }
  }
}
