// Użyte poniżej mixiny są tylko propozycją i w razie potrzeby zostaną adjustowane do zaimplementowanych _mixins.scss

//   1)
//      @mixin tablet {
//      @media screen and (min-width: 768px) {
//      @content;
//      }}

//   2) 
//      @mixin font($weight: false, $size: false, $line: false, $letter: false) {

//      @if $weight {
//      font-weight: $weight;
//      }

//      @if $size {
//        font-size: $size;
//      }

//      @if $line {
//        line-height: $line;
//      }}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }


  .is-hidden .modal {
    transform: translate(-50%, -50%) scale (0) rotate(45 deg);
  }


  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
  }


  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 272px;
    min-height: 357px;
    padding: 28px 16px;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #ffffff;

    @include tablet {
      padding: 48px 32px;
      max-width: 480px;
      min-height: 511px;
    }


    &__btn {
      position: absolute;
      top: 19px;
      right: 19px;
      cursor: pointer;
      width: 12px;
      height: 12px;
      border: 2px solid #000000;
      justify-content: center;
      align-items: center;

      @include tablet {
        width: 16px;
        height: 16px;
        top: 28px;
        right: 28px;
      }
    }


    &__close {
      fill: Solid #000000;

      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    &__header {
      @include font(600, 20px, 1.2);
      color: #000000;
      text-align: start;

      @include tablet {
        @include font(600, 32px, 1.21);
      }
    }


    &__description {
      @include font(500, 15px, 1.25);
       color: #5c5c5c;

      @include tablet {
        @include font(500, 16px, 1.25);
      }
    }


    &__form {
      text-align: start;
    }


    &__label {
      @include font(500, 10px, 1.2);
      color: #5c5c5c;
      margin-top: 18px;

      @include tablet {
        @include font(500, 14px, 1.2);
        margin: top 32px;
      }
    }


    &__container {
      position: relative;
      max-width: 240px;
      margin: 0 auto;

      @include tablet {
        max-width: 416px;
      }
    }


    &__input {
      display: block;
      width: 100%;
      min-height: 37px;
      border: rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      cursor: pointer;
      padding-top: 10px;
      padding-left: 12px;
      resize: none;

      @include tablet {
        min-height: 50px;
        padding-top: 12px;
        padding-left: 16px;
      }


      &::placeholder {
        @include font(500, 14px, 1.21);
        color: rgba(0, 0, 0, 0.3);
      }
    }

    
    &__submit {
      @include font(600, 14px, 1.2);
      position: relative;
      display: block;
      width: 240px;
      height: 37px;
      margin-bottom: 0;
      background: #e86f54;
      border-radius: 8px;
      color: #ffffff;
      cursor: pointer;
      border: none;
      align-items: center;
      margin: 0 auto;

      transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:is(:hover, :focus) {
        background-color: #c26651;
      }

      @include tablet {
        width: 416px;
        height: 50px;
      }
    }
  }