.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}


.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}


.is-hidden .modal {
  transform: translate(-50%, -50%) scale (0) rotate(45 deg);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #ffffff;
  padding: 28px 16px;
  width: 272px;

  @include tablet {
    padding: 48px 32px;
    width: 480px;

  }

  &__close {
    background-color: $secondaryFontColor;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: none;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 16px;
      height: 16px;
      top: 24px;
      right: 24px;
    }
  }


  &__svg {
    fill: Solid #000000;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet {
      width: 24px;
      height: 24px;
    }
  }



  &__header {
    @include font(600, 20px, 1.2);
    color: #000000;
    text-align: start;
    margin-bottom: 14px;

    @include tablet {
      @include font(600, 32px, 1.21);
      margin-bottom: 24px;
    }
  }


  &__description {
    @include font(500, 12px, 1.25);
    color: $formFontColor;

    @include tablet {
      @include font(500, 16px, 1.25);


    }
  }
}

  .modal-form {
    &__name {
      @include font(500, 10px, 1.2);
      margin-bottom: 8px;
      margin-top: 18px;

      @include desktop {
        @include font(500, 14px, 1.2);
        margin-top: 32px;
      }
    }

    &__input {
      @include font(500, 12px, 1.25);
      width: 100%;
    
      display: block;
      margin-bottom: 14px;
      padding: 10px 0 10px 12px;
    

      outline: none;
      border: 1px solid #d7d7d7;
      border-radius: 4px;

      @include tablet {
        margin-bottom: 24px;
        padding: 16px 0 16px 16px;
        font-size: 14px;

      }

      &::placeholder {
        color: #d7d7d7;
      }

      &:is(:hover, :focus) {
        border-color: #111111b2;
      }
    }
    

    .modal-form__input:valid:not(:placeholder-shown) {
      border-color: green;
    }

    .modal-form__input:invalid:not(:placeholder-shown) {
      border-color: red;
    }

    &__label {
      @include font(500, 10px, 1.2);
      color: $formFontColor;

      @include tablet {
        @include font(500, 14px, 1.2);
      }
    }


    &__submit {
      @include font(600, 14px, 1.2);
      position: relative;
      display: block;
      min-width: 240px;
      min-height: 37px;
      margin-bottom: 28px;
      background-color: $btnColor;
      border-radius: 8px;
      color: #ffffff;
      cursor: pointer;
      border: none;
      align-items: center;
      margin: 0 auto;
      margin-top: 28px;

      transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


      &:hover {
        background-color: $btnHoverColor;
      }

      &:focus {
        background-color: $btnFocusColor;
      }

      @include tablet {
        width: 416px;
        height: 50px;

        font-size: 18px;
      }
    }

  }
