.footer {
  box-sizing: border-box;
  background-color: $footerBgColor;
  max-width: 320px;
  width: 100%;
  height: 389px;
  row-gap: 32px;
  color: $secondaryFontColor;
  padding: 32px 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 500;

  &__container {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    max-width: 128px;
    width: 100%;
  }

  &__container--contacts a {
    text-decoration: none;
    color: $secondaryFontColor;
  }

  &__container--icons {
    flex-direction: row;
    align-items: flex-start;
    max-height: 28px;
  }

  & ul {
    margin: 0;
    padding: 0;
  }

  & h3 {
    font-weight: 700;
    line-height: 21.78px;
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 18px;
  }

  & li {
    list-style-type: none;
  }

  & li:not(:last-child) {
    margin-bottom: 12px;
  }

  &__icon {
    stroke: $footerIconColor;
    width: 28px;
    height: 28px;
  }
  &__icon:not(:last-child) {
    margin-right: 14px;
  }
  &__container--contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 109px;
  }
}
@media (min-width: 768px) {
  .footer {
    height: 268px;
    max-width: 768px;
    font-size: 16px;
    line-height: 19.36px;
    padding: 60px 40px 54px 24px;

    & h3 {
      line-height: 24.2px;
      font-size: 20px;
    }
    &__container {
      word-wrap: initial;
      max-width: 143px;
    }

    &__container--icons {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      max-height: 74px;
    }

    &__icon:not(:last-child) {
      margin: 0;
    }
  }
}
@media (max-width: 1279px) {
  .footer {
    &__logo {
      display: none;
    }
  }
}
@media (min-width: 1280px) {
  .footer {
    margin: 0;
    height: 299px;
    max-width: 1280px;
    padding: 72px 48px 72px 24px;

    &__container {
      max-width: 164.8px;
    }
    &__logo {
      max-width: 164.8px;
      width: 100%;
    }
    &__logo svg {
      fill: $footerIconColor;
      stroke: $footerIconColor;
      width: 73px;
      height: 57px;
    }
  }
}
