.header {
  width: 100vw;
  min-height: 60px;
  padding-top: 16px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  display: inline-block;

  @include tablet {
    // padding-top: 24px;
  }

  @include desktop {
    padding-top: 28px;
  }

  &__wrapper {
    position: relative;
    // width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include tablet {
      align-items: center;
      padding-left: 24px;
      padding-right: 24px;
    }
    @include desktop {
      align-items: center;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__hamburger {
    display: inline-block;
    fill: #0e0e0e;
    // margin-right: 10px;
    background-color: transparent;
    border: none;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }

  &__logo--svg {
    stroke: #0e0e0e;
    background-color: transparent;
    border: none;
    width: 54px;
    height: 42px;

    @include tablet {
      width: 86px;
      height: 68px;
    }
    @include desktop {
      width: 86px;
      height: 68px;
    }
  }

  &__nav {
    display: none;

    @include tablet {
      display: flex;
      margin: auto;
      align-items: center;
    }

    @include desktop {
      display: flex;
      margin: auto;
      align-items: center;
    }
  }

  &__nav--list {
    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 24px;
      list-style-type: none;
    }

    @include desktop {
      display: flex;
      gap: 48px;
    }
  }

  &__nav--list-item {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #000000;

    transition: all 0.5s ease;
  }

  &__nav--list-item:is(:hover, focus) {
    color: #e86f54;
  }

  &__tel--btn {
    fill: #0e0e0e;
    margin-left: auto;
    margin-right: 15px;
    border: none;
    background-color: transparent;
    padding: 6px 0 0;

    @include tablet {
      margin-left: unset;
      margin-right: unset;
    }

    @include desktop {
      margin-left: unset;
    }
  }

  &__tel--svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  &__tel--svg:is(:hover, focus) {
    fill: #e86f54;
  }

  &__tel--icon {
    width: 25px;
    height: 25px;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container {
  background-color: #e86f54;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-100%);
  transition-duration: 250ms;
  z-index: 1000;

  &__close-btn {
    stroke: #ffffff;
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: transparent;
    border: none;
  }

  &__link-list {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: center;
  }

  &__link-list-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #ffffff;
    text-decoration: none;
  }

  &__link {
    list-style-type: none;
  }
}
