.header {
  width: 100vw;
  min-height: 60px;
  padding-top: 16px;
  background-color: var(--white-cl);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  @include tablet {
    padding-top: 24px;
  }

  @include desktop {
    padding-top: 28px;
  }

  &__wrapper {
    position: relative;
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__hamburger {
    display: inline-block;
    fill: #0e0e0e;
    margin-right: 25px;
    background-color: transparent;
    border: none;

    @include tablet {
      display: none;
    }
  }

  &__logo {
  }

  &__logo--svg {
    fill: #0e0e0e;
    background-color: transparent;
    border: none;
  }

  &__logo--icon {
  }

  &__nav {
    display: none;

    @include tablet {
      display: flex;
      margin: auto;
      align-items: center;
    }
  }

  &__nav--list {
    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 24px;
      list-style-type: none;
    }

    @include desktop {
      gap: 48px;
    }
  }

  &__nav--list-item {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #000000;
  }

  &__tel--btn {
    fill: #0e0e0e;
    margin-left: auto;
    border: none;
    background-color: transparent;
    @include tablet {
      margin-left: unset;
    }
  }
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container {
  background-color: #e86f54;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-100%);
  transition-duration: 250ms;
  z-index: 1000;

  &__close-btn {
    stroke: #ffffff;
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: transparent;
    border: none;
  }

  &__link-list {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: center;
  }

  &__link-list-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #ffffff;
    text-decoration: none;
  }

  &__link {
    list-style-type: none;
  }
}
