.input {
  display: block;

  box-sizing: border-box;
  width: 240px;
  height: 37px;

  padding: 10px 12px;

  border: 1px solid #d7d7d7;
  border-radius: 4px;

  color: black;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  transition: border-color 0.5s ease;

  @media screen and (min-width: 768px) {
    width: 416px;
    height: 49px;

    padding: 16px;

    font-size: 14px;
  }

  &::placeholder {
    color: #d7d7d7;
  }

  &:is(:hover, :focus) {
    border-color: #111111b2;
  }
}
