

.textarea{
    display: flex;
    flex-direction: column;
}
.modal1{
    display: flex;
    flex-direction: column;
    @include tablet{
      width: 588px;
    }
    @include desktop{
      width: 860px;
      flex-direction: row;
      position: absolute;
    }
}

.modal1__image{
    width:100%;
    object-fit: cover;
    height: auto;
    display: block;
    margin:0 auto;
    padding: 0;
    @include desktop{
      height: 100%;
    }
  }

.backdrop {
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}


.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}


.is-hidden .modal1 {
  transform: translate(-50%, -50%) scale (0) rotate(45 deg);
}

.backdrop.is-hidden .modal1 {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}


.modal,.modal1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #ffffff;
  width: 272px;

  @include tablet {
    width: 588px;

  }

  &__close {
    background-color:transparent;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: none;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 16px;
      height: 16px;
      top: 24px;
      right: 24px;
    }
  }


  &__svg {
    fill: Solid #000000;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet {
      width: 24px;
      height: 24px;
    }
  }






  &__description {
    @include font(500, 12px, 1.25);
    color: $formFontColor;
    padding-bottom: 18px;
    text-align: center;

    @include tablet {
      @include font(500, 16px, 1.25);
          }
          @include desktop{
            @include font(500, 18, 1.25);
          }
  }
}

.modal__header {
  @include font(600, 20px, 1.2);
  color: #000000;
  text-align:center;
  margin-bottom: 14px;
  padding-top: 18px;

  @include tablet {
    @include font(600, 32px, 1.21);
    margin-bottom: 24px;
  }
}

  .modal-form {
    margin: auto;
    max-width:85%;

    &__name {
      @include font(500, 10px, 1.2);
      margin-bottom: 8px;
      margin-top: 18px;
      padding-left: 18px;
      padding-right: 36px;

      @include desktop {
        @include font(500, 14px, 1.2);
        margin-top: 32px;
      }
    }

    &__input {
      @include font(500, 12px, 1.25);
      width: 236px;    
      display: block;
      margin-top: 8px;
    

      outline: none;
      border: 1px solid #d7d7d7;
      border-radius: 4px;

      @include tablet {
        margin-bottom: 24px;
        padding: 16px 0 16px 16px;
        font-size: 14px;
        width: 336px; 

      }

      &::placeholder {
        color: #d7d7d7;
      }

      &:is(:hover, :focus) {
        border-color: #111111b2;
      }
    }
    

    .modal-form__input:valid:not(:placeholder-shown) {
      border-color: green;
    }

    .modal-form__input:invalid:not(:placeholder-shown) {
      border-color: red;
    }

    &__label {
      @include font(500, 10px, 1.2);
      color: $formFontColor;

      @include tablet {
        @include font(500, 14px, 1.2);
      }
    }


    &__submit {
      @include font(600, 14px, 1.2);
      position: relative;
      display: block;
      min-width: 236px;
      min-height: 37px;
      margin-bottom: 28px;
      background-color: $btnColor;
      border-radius: 8px;
      color: #ffffff;
      cursor: pointer;
      border: none;
      align-items: center;
      margin: 0 auto;
      margin-top: 28px;
      margin-bottom: 28px;

      transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


      &:hover {
        background-color: $btnHoverColor;
      }

      &:focus {
        background-color: $btnFocusColor;
      }

      @include tablet {
        width: 336px;
        height: 50px;

        font-size: 18px;
      }
    }

  }

  .modal__form-label{
    font-weight: 500;
      font-size: 10px;
      line-height: 1.2;
      color: #5C5C5C;
      @include tablet{
        font-size:14px;      
      }

  }

 

  .right-side{
    @include desktop{
      background: #fff;
      flex-direction: column;
      display: flex;
      min-width: 430px;
      min-height: 528px;
      padding: 111px 40px 32px 40px;
    }
  }