.store {

    &__gallery {
        color: black;
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        justify-content: center;
        // width: 100%;
        gap: 32px;
        margin-bottom: 60px;

        &-item {
            list-style-type: none;
            max-width: 136px;
            height: 208px;
            gap:16px;

            @include tablet {
                max-width: 344px;
                height: 491px;
            }

            @include desktop{
                max-width: 600px;
                height: 640px;
            }
        }
    }


}

.item__title {
    // margin-bottom: 8px;
    // text-align: left;
    // font-family: black;
    // width: 100%;
    // white-space: nowrap;
    // @include fonts($fw: 500, $fs: 16px, $lh: 1.2, $color: black);

    // @include tablet {
    //     display: inline-flex;
    //     align-items: center;
    //     font-size: 32px;

    //     gap: 8px;

    text-align: left;
     // font-family: var(--main-font);
    width: 100%;
    white-space: nowrap;
    color: black;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 16px;
    margin-bottom: 8px;

        
    @include desktop{
        &::after {
            content: '';

            display: inline-block;
            width: 100%;
            height: 1px;

            background-color: black;
        }
    }

}

.item__price{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    opacity: 0.6;
    margin: 0;
}

.item__description{
    margin: 0;
}

// @media screen and (min-width: 768px) {
//     .item__title {
//         align-items: center;
//         gap: 8px;
//         font-size: 32px;
//         display: inline-flex;
//     }
// }

// @media screen and (min-width: 768px) {
//     .item__title::after{
//     content: " ";
//     width: 100%;
//     height: 1px;
//     background-color: var(--main-text-cl);
//     display: inline-block;
//     }
// }
@media screen and (min-width: 768px) {
    .item__title {
        align-items: center;
        gap: 8px;
        font-size: 32px;
        display: inline-flex;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
}